/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html,
body,
div,
a,
br {
    margin: 0;
}

body {
    font: 11pt/15pt "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    text-rendering: optimizeLegibility;
}

code,
pre {
    font: 10pt "Ubuntu Mono", monospace;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.3em;
    margin-top: 1.3em;
}

a {
    text-decoration: none;
    color: rgba(15, 63, 127, 0.8);
}

ol,
ul,
dd {
    padding-left: 1.2em;
}

li,
dt,
dd {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

li > ul,
li > ol,
dd > dl {
    margin-top: 0;
    margin-bottom: 0;
}

li > p:last-child,
dd > p:last-child {
    margin-bottom: 1em;
}

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    margin-bottom: 0;
}

form input {
    width: 16em;
}

form button {
    background-color: rgb(247, 247, 247);
    padding: 0 0.4em;
    font-weight: 300;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
    vertical-align: top;
    text-align: left;
}

td em,
th {
    font-weight: 300;
    font-style: normal;
}

table.fields td,
table.fields th {
    border: none;
    padding: 0.3em 0.3em 0.3em 0;
}

table.fields td {
    width: 85%;
}

table.fields th {
    width: 15%;
    font-weight: 400;
}

hr {
    border-bottom: 1px solid #ddd;
}

pre, pre.hljs {
    background-color: rgb(247, 247, 247);
    overflow: auto;
    padding: 1em;
}

blockquote {
    margin-left: 2em;
}

section {
    margin: 1.5em 0;
}

body:last-child {
    margin: 2.4em 2em;
}

span.notice {
    font-style: italic;
}

pre.data {
    padding: 0;
    background-color: inherit;
    overflow: inherit;
}

nav.footer {
    margin-top: 2em;
}

div#content {
    max-width: 60em;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.2em;
}

header.nameplate {
    border: none;
}

header h1:last-child {
    margin-bottom: 1em;
}

table.tags th:nth-child(1),
table.tags td:nth-child(1) {
    text-align: left;
}

table.tags th,
table.tags td {
    text-align: right;
}

table.artifacts th:nth-child(4),
table.artifacts td:nth-child(4) {
    text-align: right;
}

p.note {
    font-style: italic;
}
